#C#
_ReSharper*
bin
Bin
obj
App_Data
TestResults
*.user
*.patch
*.sln.cache
*.orig
*.suo
*.log
*.exe
*.dll
*.resources
packages
EntityFramework.xml
EntityFramework.SqlServer.xml
EntityFramework.SqlServerCompact.xml
*.BASE.*
*.REMOTE.*
*.LOCAL.*
StyleCop.Cache
*.csproj.DotSettings
/coverage
/OpenCoverResults.xml

#Python
__pycache__/
build/
develop-eggs/
dist/
downloads/
docs/_build/
eggs/
.eggs/
*.egg-info/
ENV/
env/
htmlcov/
.hypothesis/
instance/
parts/
sdist/
target/
.tox/
var/
venv/
*.py[cod]
*$py.class
*.so
.env
*.egg
.installed.cfg
*.manifest
celerybeat-schedule
*,cover
.coverage
.coverage.*
coverage.xml
.cache
.DS_Store
.idea/workspace.xml
.idea/tasks.xml
.ipynb_checkpoints
local_settings.py
*.log
MANIFEST
*.mo
nosetests.xml
pip-log.txt
pip-delete-this-directory.txt
.python-version
*.rdb
.scrapy
*.spec
*.pot
.webassets-cache