{% extends 'C:\Users\Intern\PycharmProjects\reddit2\user_app\templates\user_app\base.html' %}

{% block body %}

{% for text in texts %}
<h2>{{text.id}}</h2>
<ul>

    <li><h3 style="border-style: outset">Title: {{ text.title }} <br></h3></li><br>
    <hr>
    <li>uploded by: {{ text.user }}</li><br>
    <hr>
    <li>Content: <textarea style = "height:200px; width:200px;" readonly>{{ text.text }}</textarea></li><br>

    <li> Likes: {{ text.nr_likes}}</li><br>
    <hr>
    <li> Comments:
        <br><br>
    {%  for comm in comments %}
        {% if comm.post.id == text.id %}

        <table>
            <br><tr>from: {{comm.user}}</tr>
            <br><tr>comment: <textarea readonly style="width: 800px; height:100px">{{comm.comment}}</textarea></tr><br>

        </table>
        {% endif  %}
        <hr>
    {% endfor %}

    </li><br>
    <br><br>
    <li>
        <input type="button" id="likeButton" name="btn" value="Give Like">
        <input type="button" id="commentButton" name="btn" value="Add Comment">

    </li><br>
    <hr>
    <li>

        <textarea style="height:100px; width:800px" placeholder="write your comment here"></textarea>

    </li>
</ul>
    {% endfor %}





<script src="jquery-3.3.1.min.js">

$('#commentButton').click(function() {
    $.ajax({
        url: 'comment/',
        method: 'POST',
        data: {
            name: value, // data you need to pass to your function
            click: true
        }
        success: function (data) {
            // success callback

        }
    });
});


</script>


{% endblock %}