{% extends "reddit_app/base.html" %}
{% block extra-head %}
{{ block.super }}
{% endblock %}
{% load rest_framework %}

{% block content %}

<script>
    $(document).ready(function() {
        $("#delete").click(function(e) {
            e.preventDefault();
            var token = '{{ csrf_token }}';
            $.ajax({
                url: $(location).attr('href'),
                type: 'DELETE',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                },           
                data: {
                    csrfmiddlewaretoken: token
                },
                success: setTimeout(function(){
                    window.location.replace('/')
                }, 500)
            });
        });
        $("#like").click(function(e) {
            e.preventDefault();
            var token = '{{ csrf_token }}';
            $.ajax({
                url: $(location).attr('href'),
                type: 'PUT',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                },           
                data: {
                    csrfmiddlewaretoken: token
                },
                success: setTimeout(function(){
                    window.location.reload()
                }, 500)
            });
        });
    });
</script>

    
<div class="w3-row">
    <div class="w3-card-4 w3-white" style="width:70%; height:100%" align="left">
        <div class="w3-container">
            <h3><b>{{post.user.username}}</b></h3>
            <h4>
                <span class="w3-opacity">{{ post.created }}</span>
            </h4>
            <h5>
                <a href="post/{{post.id}}">{{ post.text }}</a>
            </h5>
        </div>
        {% if post.photo %}
            <img src="{{ MEDIA_URL }}/{{ post.photo.name }}" style="width:100%">
        {% endif %}
        {% if post.user.username == user.get_username %}
            <form method="delete">
                {% csrf_token %}
                <button id="delete" type="submit">Delete</button>
            </form>
        {%endif%}
        <br>
        
        <div class="w3-card-4 w3-margin w3-white" style="width:95%; margin:auto 0px;">
            <div class="w3-margin w3-padding-16">
                Likes: {{likes}}
                <form method="put">
                    {% if user.is_authenticated %}
                        <button id="like" type="submit" class="w3-button w3-light-gray">Like</button>
                        {% csrf_token %}
                    {%endif%}
                </form>
            </div>
        </div>
        
        <div class="w3-card-4 w3-margin w3-white" style="width:95%; margin:auto 0px;">
            <div class="w3-margin w3-padding-16">
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group ">
                        <label >Make a comment!</label>
                        <br>
                        <input name="text" class="form-control" type="text"  value="" style="width:95%;">
                    </div>
                    <input type="submit" value="Post!" class="w3-button w3-light-gray">
                </form>
            </div>
        </div>
        {% if comments %}
        <div class="w3-card-4 w3-margin w3-white" style="width:95%; margin:auto 0px;">
            <div class="w3-margin w3-padding-16">
                Comments:
                <br>
                <div class="w3-row ">
                    <div class="w3-card-4 w3-margin w3-white" style="width:95%; margin:auto 0px;">
                        {% for comm in comments %}
                            {% if comm.user.user_details.avatar %}
                                <div class="w3-card-4">
                                    <img src= "{{ MEDIA_URL }}/{{ comm.user.user_details.avatar.name }}" width = 50px>
                                    {{comm.user.username}}
                                    <br>
                                    {{comm.text}}
                                </div>
                            {% endif %}
                            {% if not forloop.last %}
                                <br>
                            {% endif %}
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{%endblock%}